{% extends "base.html" %} {% load static %} {% block page_header %} 

{% endblock %} 
{% block slider %}
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="40">
          <img
            src="{% static 'media/slider1.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="{% static 'media/slider2.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'media/slider3.png' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
    </div>
{% endblock %}
{% block content %}
<div id="content_container" class="container h-100">
  <div class="row h-100 text-center">
    <div class="col-lg-12">
      <h1 id="about_us_heading" class="mt-30">About us</h1>
      <p id="about_us_content">
        At SmartTech, we’re dedicated to bringing you the best in smartphone
        technology, offering a wide selection of the latest and most innovative
        devices on the market. Whether you're an early adopter of cutting-edge
        tech or simply looking for a reliable and stylish smartphone, our
        extensive collection has something for everyone. Explore our diverse
        range of smartphones from top brands including Apple, Samsung, Google,
        OnePlus, and more. From flagship models with state-of-the-art features
        to budget-friendly options, we provide detailed comparisons to help you
        make the right choice.Enjoy the latest models at the best prices. Our
        team works tirelessly to ensure you get the best deals, so you can shop
        with confidence knowing you’re getting exceptional value.Our
        comprehensive product reviews and buying guides are designed to help you
        navigate the ever-evolving world of smartphones. Stay informed with
        expert insights and honest opinions on performance, features, and
        usability. Our user-friendly website is designed to make your shopping
        experience as smooth as possible. Browse through detailed product pages,
        check out customer reviews, and make purchases with just a few
        clicks.Fast and Reliable Shipping: We offer swift and dependable
        shipping options to ensure that your new smartphone arrives quickly and
        safely. Track your order in real-time and enjoy peace of mind knowing
        your purchase is on its way. Our dedicated customer support team is here
        to assist you with any questions or concerns. From pre-purchase
        inquiries to post-purchase support, we’re committed to providing
        top-notch service every step of the way.
      </p>
      <a href="{% url 'products' %}" id="shop_now_btn">SHOP NOW</a>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid pt-5 pb-1">
    <div class="row">
      <div class="col-md-3">
        <h4 class="font-weight-bold mb-3 text-center">About</h4>
        <p class="text-center">we’re dedicated to bringing you the best in smartphone technology, 
          offering a wide selection of the latest and most innovative devices on the market.
          our extensive collection has something for everyone.</p>
      </div>
      <div class="col-md-3">
        <h4 class="font-weight-bold mb-3 text-center">Useful Links</h4>
        <p class="text-center"><a href="{% url 'faq' %}">FAQ</a></p>
        <p class="text-center"><a href="{% url 'subscribe' %}">Newsletter</a></p>
        <p class="text-center"><a href="{% url 'contact' %}">Contact</a></p> 
      </div>
    
      <div class="col-md-3">
        <h4 class="font-weight-bold mb-3 text-center">Contacts</h4>
        <p class="text-center">Online web-store @</p>
        <p class="text-center">www.smarttech.com</p>
        <p class="text-center">smarttechofficial@gmail.com</p>
        <p class="text-center">13-7654-987699</p> 
      </div>
      <div class="col-lg-3">
        <h4 id="about_us_heading_2" class="text-center" >Social Accounts</h4>
        <div id="social_media_container" class="row">
          <div class="col-3">
              <a href="https://www.facebook.com/share/Qxc41dRkknBkFeoX/?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer">
                  <img class="social_media_logo" src="{% static 'media/fb_logo.png' %}" alt="Facebook Logo">
              </a>
          </div>        
          <div class="col-3">
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <img class="social_media_logo" src="{% static 'media/instagram_logo.png' %}" alt="Instagram Logo" />
            </a>
        </div>
        <div class="col-3">
            <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
                <img class="social_media_logo" src="{% static 'media/linkedIn_logo.png' %}" alt="LinkedIn Logo" />
            </a>
        </div>
        <div class="col-3">
            <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer">
                <img class="social_media_logo" src="{% static 'media/twitter_logo.png' %}" alt="Twitter Logo" />
            </a>
        </div>
        
        </div>
      </div>
    </div>
    <div class="footer-hr"></div>
    <p class="text-center copyright-statement">Copyright (C) 2024-2055 Smart Tech. All Right Reserved</p>
  </div>
</footer>
{% endblock %}
