asgiref==3.8.1
astroid==3.3.5
autopep8==2.3.1
black==24.10.0
boto3==1.35.42
botocore==1.35.42
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
defusedxml==0.7.1
dill==0.3.9
dj-database-url==0.5.0
Django==3.2.25
django-allauth==0.41.0
django-countries==7.2.1
django-crispy-forms==1.14.0
django-storages==1.14.4
gunicorn==20.0.4
idna==3.10
isort==5.13.2
jmespath==1.0.1
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
psycopg2==2.9.10
pycodestyle==2.12.1
pylint==3.3.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.10.3
six==1.16.0
sqlparse==0.5.1
stripe==11.1.0
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.2.3
