html {
  height: 100%;
}

#carouselExampleInterval{
  margin-top: 130px;
}

#about_us_heading {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #1b365c;
  text-decoration: underline;
}
#about_us_heading_2 {
  color: #1b365c;
  margin-left: 40px;
  margin-bottom: 20px;
}
#about_us_contentabout_us_content {
  color: #1b365c;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 27px;
}
#about_us_content_2 {
  color: #1b365c;
}
#shop_now_btn {
  display: inline-block;
  width: 230px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #1b365c;
  color: #fff;
  cursor: pointer;
}
#footer {
  height: 200px;
}
#social_media_container {
  margin-left: 0px;
}
#social_media_logo {
  width: 50px;
}
.footer-hr{
  height: 3px;
  background-color: #1b365c;
}
.copyright-statement{
  font-weight: 275;
  font-family: 'poppins';
  font-size: 10px;
  line-height: 15px; 
  color: #1b365c;
  margin-top: 5px;
}
ul {
  list-style-type: none;
  color: #1b365c;
}

#products_container {
  padding: 1em;
}
#product_card {
  margin: 0 0.5em;
}

#recommended_products_heading {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #1b365c;
  text-align: center;
}
#recommended_product_heading {
  color: #1b365c;
}
#recommended_product_details {
  color: #1b365c;
}
#buy_now_btn {
  display: inline-block;
  width: 230px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #1b365c;
  color: #fff;
  cursor: pointer;
}
#bg-black {
  background-color: #000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 20px;
  left: 0;
  position: fixed;
  background: ☐ white;
  z-index: -1;
}
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #000;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.btn-outline-black {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}
#add-to-bag {
  background-color: #000;
  color: #fff;
}

#handle-qty-btn {
  background-color: #000;
}

.update-btn {
  color: #1b365c !important;
}

#add-to-bag {
  padding: 11px 45px;
  background-color: #1b365c;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}



/* .overlay-checkout-form{
  margin-top: 1000px;
  background-color: black;
} */

.check-latest-btn{
  background-color: #000;
}


/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

.nav-link {
  color: #1b365c !important;
}
#all-products-link {
  color: #1b365c !important;
}
#all-products-link {
  color: #1b365c;
}

@media screen and (min-width: 576px) {
  #products_container {
    display: flex;
    justify-content: space-evenly;
  }

  .checkout-btn {
    background-color: #1b365c !important;
  }

  .checkout-text,
  .checkout-icon {
    color: #fff;
  }

  .keep-shopping-btn {
    border: 1px solid#1b365c;
  }

  .keep-shopping-text,
  .keep-shopping-icon {
    color: #1b365c;
  }

  .keep-shopping-btn:hover{
    background-color: #1b365c;
  }

  .keep-shopping-btn:hover .keep-shopping-text,
  .keep-shopping-btn:hover .keep-shopping-icon {
    color: #fff;
  }

  #carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
  #product_card {
    width: 300px;
    height: 600px;
  }
}