body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    color: #1b365c;
}

p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1b365c !important ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1b365c;
}

.faq-header {
    color: #4a90e2;
    margin-bottom: 30px;
    text-align: center;
}

.faq-list {
    list-style-type: none;
    padding-left: 0;
}

.faq-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.faq-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-question {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.faq-answer {
    font-size: 1em;
    color: #555;
}