<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page Not Found</title>
  </head>
  <body>
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for does not exist.</p>
    <a
      href="{% url 'home' %}"
      class="btn btn-outline-black rounded-0 btn-lg keep-shopping-btn px-4"
    >
      <span class="icon keep-shopping-icon">
        <i class="fas fa-chevron-left"></i>
      </span>
      <span class="text-uppercase keep-shopping-text">Return to Home</span>
    </a>
  </body>
</html>
