html {
  height: 100%;
}

#about_us_heading {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #1b365c;
  text-decoration: underline;
}
#about_us_heading_2 {
  color: #1b365c;
  margin-left: 40px;
  margin-bottom: 20px;
}
#about_us_contentabout_us_content {
  color: #1b365c;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 27px;
}
#about_us_content_2 {
  color: #1b365c;
}
#shop_now_btn {
  display: inline-block;
  width: 230px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #1b365c;
  color: #fff;
  cursor: pointer;
}
#footer {
  height: 200px;
}
#social_media_container{
  margin-left: 40px;
}
#social_media_logo {
  width: 30px;
}
ul {
  list-style-type: none;
  color: #1b365c;
}

#products_container{
  padding: 1em;
  
}
#product_card{
  margin: 0 .5em;
}

#recommended_products_heading{
  margin-top: 50px;
  margin-bottom: 30px;
  color: #1b365c;
  text-align: center;
}
#recommended_product_heading{
  color: #1b365c;
}
#recommended_product_details{
  color: #1b365c;
}
#buy_now_btn{
  display: inline-block;
  width: 230px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #1b365c;
  color: #fff;
  cursor: pointer;
}
#bg-black{
  background-color: #000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: ☐ white;
  z-index: -1;
  }

  .overlay-signout{
    position: fixed;
    top: 500px;
  }
  .btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #000;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
  color: #aab7c4;
}

.btn-outline-black {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}
#add-to-bag{
  background-color: #000;
  color: #fff;
}

#handle-qty-btn{
  background-color: #000;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

@media screen and (min-width:576px) {
  #products_container{
    display: flex;
    justify-content: space-evenly;
    
  }
  #carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }
  #product_card{
    width: 300px;
    height: 600px;
  }
  
}
.nav-link{
  color: #1b365c !important;
}
#all-products-link{
  color: #1b365c !important;
}
#all-products-link{
  color: #1b365c;
}